<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forgot Password</title>

    <!--===============================================================================================-->
	  <link href="../static/user_temp/assets/img/soundify.png" rel="icon">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/user_temp/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/user_temp/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/user_temp/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/user_temp/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/user_temp/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/user_temp/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/user_temp/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/user_temp/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/user_temp/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/user_temp/css/main.css">
<!--===============================================================================================-->

</head>






<body>

	<div class="limiter">
		<div class="container-login100" style="background-color:rgb(0, 156, 234);">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					<a class="login100-form-title p-b-41" href="/">Soundify</a>
				</span>
                 {%  with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="alert" style="color:#fff; padding: 10px;">
               <center><h4>{{messages[0]}}</h4></center>
              </div>
          {% endif %}
          {%  endwith %}
				<form class="login100-form validate-form p-b-33 p-t-5" action="/forgotpasswordFn" method="POST">

					<div class="wrap-input100 validate-input" data-validate = "Enter Email">
						<input class="input100" type="text" name="email" placeholder="Enter your email" required>
						<span class="focus-input100" data-placeholder="&#xe818;"></span>
					</div>



					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">
							Reset Password
						</button>
					</div>


				</form>

            	     <div style=" width: 100%; text-align: center; padding: 10px;">
                     <a class="login-link" id="float-center" href="/login" >Back </a>

                 </div>


			</div>




		</div>


	</div>




<!--===============================================================================================-->
{#	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="vendor/animsition/js/animsition.min.js"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="vendor/bootstrap/js/popper.js"></script>#}
{#	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="vendor/select2/select2.min.js"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="vendor/daterangepicker/moment.min.js"></script>#}
{#	<script src="vendor/daterangepicker/daterangepicker.js"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="vendor/countdowntime/countdowntime.js"></script>#}
<!--===============================================================================================-->
	<script src="../static/user_temp/js/main.js"></script>

</body>





</html>