{% extends 'admin/index.html' %}
{% block body %}
	<div class="container">

         {%  with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="alert">
               <center><h4>{{messages[0]}}</h4></center>
              </div>
          {% endif %}
          {%  endwith %}


		<div class="form-wrapper">
			<form class="form-class" method="POST" action="/admin/changePassFn">
				<span class="form-title">
					<h3 align="center">RESET PASSWORD</h3>
				</span>
				<div class="wrap-input" required>
					<input class="input-txtbox" type="password" name="new_password" placeholder=" New Password">
					<span></span>
				</div>
				<div class="wrap-input" data-validate="Password is required">
					<input class="input-txtbox" type="password" name="confirm_password" placeholder="Confirm Password">
					<span></span>
				</div>



				<div class="btn-container">
					<button class="submit-btn">
						Reset Password
					</button>
				</div>
			</form>
		</div>

	</div>
{% endblock %}