<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="../../src/css/style.css">
</head>

<body>

  <div class="container">
    <h2 align="center">ADMINISTRATOR</h2>
    <div class=" flex-2">
      <div class="f-container">
        <a href="admin/changePass">Change Password</a>
      </div>
      <div class="f-container">
        <a href="/admin/add_animalD">Add Animal Data</a>
      </div>
        <div class="f-container">
        <a href="/admin//view_animalD">View Animal Data</a>
      </div>
      <div class="f-container">
        <a href="/admin/viewUsers">View Registered Users</a>
      </div>
      <div class="f-container">
        <a href="/admin/viewFeedback">View Feedback</a>
      </div>
         <div class="f-container">
        <a href="/logout">Logout</a>
      </div>
    </div>



  </div>
</body>

</html>